<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Hipervinculos a otras paginas -->
    <script src="https://kit.fontawesome.com/823f508539.js" crossorigin="anonymous"></script><!--AwesomeFonts-->
    <script src="https://kit.fontawesome.com/44a853ca4e.js" crossorigin="anónimo"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--GoogleFonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><!--GoogleFonts-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet"><!--Titulos-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"><!--Cuerpos-->
    

</head>
<body>
    <header> 
        <h1>Shop Gods</h1>
        <nav class="nav-bar">
            <ul class="nav-ul">
                <li class="nav-link"><a href="/Usuario">Usuario</a></li>
                <div class="nav-right">
                <li class="nav-link2"><a href="/Mis Productos">Mis Productos</a></li>
                <li class="nav-link2"><a href="/Carrito">Carrito</a></li>
                </div>
                
            </ul>
        </nav>

    </header>>





    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="imgs/Logo.png" alt="">
                </div>
            </div>

            <div class="box__footer">
                <div class="terms">
                    <p></p>
                </div>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="#"> <i class="fa-brands fa-facebook"></i> Facebook</a>
                <a href="#"> <i class="fa-brands fa-x-twitter"></i> Twitter</a>
            </div>
        </div>

        <div class="box__copyright">
            <hr>
            <p class="copy">Todos los derechos reservados © 2023</p>
            <b class="copy">ShopGods</b>
            
        </div>
    </footer>

</body>
</html>