/* Fuentes Usadas: 
font-family: 'Montserrat', sans-serif;  (Cuerpo)
font-family: 'Playfair Display SC', serif;;   (Títulos)
*/

/*Variables*/

:root {
    --ColorPrimario: brown;
    --ColorSecundario: brown;
    --ColorTerciario: brown;
    --FondoClaro:"";
    --FondoOscuro:"";
    
  }

  *{
    font-family: 'Montserrat', sans-serif;
  }

  footer{
    position: fixed;
    bottom: 0px;
    left: 0%;
    width: 100%;
    background-image: url(imgs/Marmol\ claro2.jpg);
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.box__footer .logo img{
    width: 60px;
    margin-bottom: -20px;
}

.box__footer .terms{
    max-width: 400px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}

.box__footer h2{
    display: none;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 22px;
    text-decoration: overline;
}

.box__footer a{
    display: none;
    margin-top: 20px;
    font-weight: 600;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fa-brands{
    font-size: 20px;
}

.box__copyright{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.box__copyright p{
    margin-top: 10px;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: goldenrod;
}
.copy{
    display: inline-block;
    margin: 5px 0px;
}











header{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 70px;
    
    align-items: center;
    margin: auto;
    background-image: url(imgs/Marmol\ claro2.jpg);
    background-size: cover;


}

a:link { text-decoration: none;
    color: black;
}
a:visited {
text-decoration: none;
}
a:hover {
    color: rgb(0, 217, 255);
  }

 
.nav-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin: auto;
    align-items: center;

}
.nav-ul{
position: relative;
display: flex;
flex-direction: row;


height: 70px;
width: 100%;

align-items: center;

}
.nav-block{
    position: relative;
    width: 33%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    
}
.nav-left{
    text-align: left;
}
.nav-right{
    text-align: right;
}
.nav-center{

    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    
}
.nav-liank{
    position: relative;
    display: flex;
 
    margin-left: 35px;
    
}
.nav-link2{
    position: relative;
    display: flex;
    margin: 35px;

   
    
}


.titulo{
    font-family: 'Playfair Display SC', serif;

}

.nav-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;

    justify-content: center;
    
}
.nav-ul{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;

height: 70px;
width: 100%;

align-items: center;

}

.nav-link{
    position: relative;
    display: flex;
    margin: 35px;
    
    margin-left: 35px;


}
.nav-link2{
    position: relative;
    display: flex;
    margin: 35px;
    margin-left: auto;


    
}
