{% extends "./templateSingular.html" %}


{% block body %}
<section class="container forms">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-portada"></div> 
    </section>
    <div class="form" style=";">
        <div class="form-content">
            <h1 class="log">Agregar producto</h1>
                <form action="/addUser/" method="POST"> {% csrf_token %}

                <div class="table-content">
                    <div class="field input-field">
                        <input type="url" placeholder="Nombre del prpducto" name="txtname" class="input" style="left: -10px;">
                    </div>

                <div class="table-element">
                    <div class="field input-field">
                        <input type="text" placeholder="Nombre del prpducto" name="txtname" class="input" style="left: -10px;">
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Tipo (dropdown)" name="txtname" class="input" style="left: -10px;">
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Descripción del producto" name="txtname" class="input" style="left: -10px;">
                    </div>
                    
                    <div class="field input-field">
                        <input type="password" placeholder="Precio" name="txtpassword" class="password" style="left: -10px;">
                        <i class='bx bx-hide eye-icon' ></i>
                    </div>

                </div>
                </div>
                    <div class="field">
                        <button type="submit">Agregar producto</button>
                    </div>
                </form>
        </div>
    </div>
    
    <div class="form signup">
        <div class="form-content">
            <h1 class="log">Agregar producto</h1>
                <form action="#">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Contraseña" class="password">
                        <i class='bx bx-hide eye-icon' ></i>
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Confirmar contraseña" class="password">
                        <i class='bx bx-hide eye-icon' ></i>
                    </div>

                    <div class="field button-field">
                        <button>Entrar</button>
                    </div>

                    <div class="form-link">
                        <span>¿Tiene una cuenta?<a href="#" class="link singup-link"> Iniciar sesion</a></span>
                    </div>
                </form>
                
        </div>
    </div>
<div class="container">
<div class="espaciador"></div>
</div>

</section>

{%endblock%}