
{% extends "./templateMain.html" %}

{% block body %}
 <div class="content">
    <div id="paypal-button-container"></div>
    <p id="result-message"></p>
    <!-- Replace the "test" client-id value with your client-id -->
    <script src="https://www.paypal.com/sdk/js?client-id=ATwjK8NnYWMS9KuPh02UJdAVfTsjJw8V3EkmBGWNvJ4q9LORfJq0RPaKHwn_FYTv67-SzI_fKla4BeJk&currency=USD"></script> <!--&currency=AR-->
    <script>
        paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
            amount: {
                value: '6000000.00'
            }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details){
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  })
  .render("#paypal-button-container");
  
// Example function to show a result to the user. Your site's UI library can be used instead.
function resultMessage(message) {
  const container = document.querySelector("#result-message");
  container.innerHTML = message;
}
    </script>
    <a class="nav-link" style="margin: 0;cursor:pointer;" href="{% url 'payShopCart' shopping_cart_products.0.shoppingCart.id %}">Comprar carrito</a>
    <p>{{shopping_cart_products.0.shoppingCart.id}}</p>
    <table>
        <tbody>
            {% for product in shopping_cart_products %}
            <tr class="table-content ">
               <td class="table-img"><a href="{% url 'product' product.product.id %}"><img class="img-main" src="../{{product.product.photo}}"/></td>
                <td class="table-element">
                    <div><a class="titulo" href="{% url 'product' product.product.id %}">{{product.product.name}}</a></div>
                    <div style="overflow: hidden;max-height:9.5vh;">{{product.product.description|linebreaks}}</div>
                    <div>...</div>
                    <div>Precio unitario: $ {{product.product.price}}</div>
                    <div>Tipo: {{product.product.type}}</div>
                    <div>Cantidad: {{product.amount}}</div>
                    <a href="{% url 'myProductEdit' product.product.id%}">editar</a>
                </td>
                <td><a type="submit" class="nav-link delete-item" style="margin: 0;cursor:pointer;" href="{% url 'deleteShopCart' product.id %}">borrar producto</a></td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    
</div>



{% endblock %}