
{% extends "./templateMain.html" %}

{% block body %}
 <div class="content">
    <table>
        <tbody>
            {% for product in shopping_cart_products %}
            <tr class="table-content ">
               <td class="table-img"><a href="{% url 'product' product.product.id %}"><img class="img-main" src="../{{product.product.photo}}"/></td>
                <td class="table-element">
                    <div><a class="titulo" href="{% url 'product' product.product.id %}">{{product.product.name}}</a></div>
                    <div style="overflow: hidden;max-height:9.5vh;">{{product.product.description|linebreaks}}</div>
                    <div>...</div>
                    <div>Precio unitario: $ {{product.product.price}}</div>
                    <div>Precio total: $<span class="total-price"></span></div>
                    <div>Tipo: {{product.product.type}}</div>
                    <div>Cantidad: {{product.amount}}</div>
                    <a href="{% url 'myProductEdit' product.product.id%}">editar</a>
                </td>
                <td><a type="submit" class="nav-link delete-item" style="margin: 0;cursor:pointer;" href="{% url 'deleteShopCart' product.id %}">borrar producto</a></td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll(".table-content");

        rows.forEach(function (row) {
            // Obtener el precio unitario y la cantidad
            var unitPrice = parseFloat(row.querySelector(".table-element div:nth-child(4)").textContent.split("$")[1]);
            var quantity = parseInt(row.querySelector(".table-element div:nth-child(6)").textContent.split(":")[1]);

            // Calcular el precio total y actualizar el contenido de la celda correspondiente
            var totalPrice = unitPrice * quantity;
            row.querySelector(".total-price").textContent = totalPrice.toFixed(2);
        });
    });
</script>

{% endblock %}