{% extends "./templateSingular.html" %}


{% block body %}
<section class="container forms">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-portada"></div> 
    </section>
    <div class="form"  style="top:30vh;">
        <div class="form-content">
            <h1 class="log">producto</h1>

                <div class="table-content">
                    <div >
                        <div class="edit-img" style="width: 50vh;background-image: url('{{BASE_DIR}}/{{product.photo}}');"></div>
                    </div>
                <div class="table-element">
                    <div class="field ">Nombre: {{product.name}}</div>

                    <div class="field">Tipo: {{product.type}}</div>

                    <div class="field ">{{product.description|linebreaks}}</div>
                    
                    <div class="field">Precio: $ <div class="price">{{product.price}}</div></div>

                    <div class="field ">Cantidad: <div class="product-stock">{{product.stock}}</div></div>

                </div>
                </div>
                    <form class="field"  action="{% url 'addProductToShoppingCartF' id_product=product.id %}" method="POST">{% csrf_token %}
                        <p>Cantidad que se desea comprar:</p>
                        <div class="field" style="flex-direction:row;">
                            <input name="numAmount" type="number" class="input" placeholder="Ingrese la cantidad" style="width:50%;" min="0" max="{{product.stock}}" oninput="validateInput()">                            <p>Precio total:  $</p>
                            <p class="priceTotal"></p>
                        </div>
                        <div class="field">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </form>
        </div>
    </div>
    
                
        </div>
    </div>

    <div class="espaciador" style="position: relative; top: 50vh;">a</div>


</section>

{%endblock%}