{% extends "./templateSingular.html" %}


{% block body %}
<section class="container forms">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-portada"></div> 
    </section>

    <div class="form login" style="top: 100px;width:35%;">
        <div class="field input-field">
            <div class="form-content">
                <h1 class="log">Restaurar contraña</h1>
    
                    <form method="POST" > {% csrf_token %}

                        <div>La contraseña:
                        <ul>
                            <li>Debe contener 8 digitos</li>   
                            <li>Debe tener numeros y caracteres</li>
                            <li>Debe tener una mayuscula</li>
                        </ul>
                        </div>
                        
                        <div class="field input-field">
                            <div class="field input-field">
                                <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label>
                                {{ form.new_password1 }}
                            </div>
        
                            <!-- Campo de confirmación de contraseña -->
                            <div class="field input-field">
                                <label for="{{ form.new_password2.id_for_label }}">Confirmar contraseña:</label>
                                {{ form.new_password2 }}
                            </div>
                            <i class='bx bx-hide eye-icon' ></i>
                        </div>
    
                        <div class="field">
                            <button type="submit">Recuperar contraseña</button>
                        </div>
    
                        <div class="form-link">
                        </div>
                    </form>
    </div>
    <div class="espaciador" style="position: relative; top: 40vh">a</div>
</section>
{%endblock%}