{% extends "./templateMain.html" %}

{% block body %}
 <div class="content">
    <table>
        <tbody>
            <tr class="table-content ">
                <td class="table-img">img</td>
                <td class="table-element">
                    <div>Nombre</div>
                    <div>Autor</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum ducimus, in soluta repellat a totam quisquam dolor vero ratione! Numquam quaerat nam ratione odio nihil dolorum ea qui temporibus?</div>
                </td>
            </tr>
            <tr class="table-content">
                <td class="table-img">img</td>
                <td class="table-element">
                    <div>Nombre</div>
                    <div>Autor</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum ducimus, in soluta repellat a totam quisquam dolor vero ratione! Numquam quaerat nam ratione odio nihil dolorum ea qui temporibus?</div>
                </td>
            </tr>
            <tr class="table-content">
                <td class="table-img">img</td>
                <td class="table-element">
                    <div>Nombre</div>
                    <div>Autor</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum ducimus, in soluta repellat a totam quisquam dolor vero ratione! Numquam quaerat nam ratione odio nihil dolorum ea qui temporibus?</div>
                </td>
            </tr>
            <tr class="table-content">
                <td class="table-img">img</td>
                <td class="table-element">
                    <div>Nombre</div>
                    <div>Autor</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum ducimus, in soluta repellat a totam quisquam dolor vero ratione! Numquam quaerat nam ratione odio nihil dolorum ea qui temporibus?</div>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="espaciador"></div>
</div>
{% endblock %}