{% extends "./templateSingular.html" %}


{% block body %}
<section class="container forms">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-portada"></div> 
    </section>
    <div class="form login" style="width:35%;">
        <div class="form-content">
            <h1 class="log">La contraseña se restauró con exito!</h1>
        </div>
        <div class="field">
            <a class="submit" href="{% url 'loginF' %}">Volver a login</a>
        </div>
    </div>
</section>
{%endblock%}