<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- Hipervinculos a otras paginas -->
    <script src="https://kit.fontawesome.com/823f508539.js" crossorigin="anonymous"></script><!--AwesomeFonts-->
    <script src="https://kit.fontawesome.com/44a853ca4e.js" crossorigin="anónimo"></script><!--AwesomeFonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--GoogleFonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><!--GoogleFonts-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet"><!--Titulos-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"><!--Cuerpos-->
    <link rel="icon" type="image/x-icon" href="/imgs/bolt-fav.png">

</head>
<body>
    
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="#" class="img-avatar">
            </div>
        </div> 
        
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li></i> Nombre: </li>
                    <li></i> Correo: </li>
                    <li></i> Contraseña: </li>
                </ul>
            </div>
            <div class="footer-form">
                <a class="redirection-button">Editar Datos</a>
                <a class="redirection-button">Eliminar Cuenta</a>
            </div>

        </div>
    </section>





    <header> 
       
        <nav class="nav-bar">
            <ul class="nav-ul nav-block">
                <div class="nav-left nav-block">
                <li class="nav-link"><a href="/Usuario">Usuario</a></li>    
                </div>
                
                <div class="nav-center nav-block">
                <h1 ><a href="/Shop Gods" class="titulo">Shop Gods</a></h1>
                </div>

                <div class="nav-right nav-block">
                <li class="nav-link2"><a href="/Mis Productos">Mis Productos</a></li>
                <li class="nav-link2 "><a href="/Carrito">Carrito</a></li>
                </div>
                
            </ul>
        </nav>

    </header>

    <footer>


        <div class="container__footer">

            <div class="box__footer">
                <div class="terms">
                    <p></p>
                </div>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="#"> <i class="fa-brands fa-facebook"></i> Facebook</a>
                <a href="#"> <i class="fa-brands fa-x-twitter"></i> Twitter</a>
            </div>
        </div>

        <hr>
        <div class="box__copyright">
            <div class="box__footer copy">
                <div class="logo">
                    <img src="imgs/Logo.png" alt="">
                </div>
            </div>
            
            <p class="copy">Todos los derechos reservados © 2023</p>
            <b class="copy">ShopGods</b>

            <button id="btn-black" class="btn-neon-black">
                <i id="imagen1" class="fa-solid fa-moon" style="color: #7d1fa8;"></i>
                <i id="imagen2" class="fa-solid fa-sun" style="color: #e5a315;"></i>
            </button>

        </div>
        
        
    </footer>
    <script type="text/javascript" src="js.js"></script>

</body>
</html>