{% extends "./templateSingular.html" %}


{% block body %}
<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-portada">
        <div class="perfil-usuario-avatar">
            <img src="" class="img-avatar">
        </div>
    </div> 
    
    <div class="perfil-usuario-body" style="top: 30px;">
        <div class="perfil-usuario-footer">
            <ul class="lista-inputs">
                <li><input class= "input" type="text" placeholder="Nombre"></li>
                <li><input class= "input" type="mail" placeholder="Correo"></li>
                <li><input class= "input" type="password" placeholder="Contraseña"></li>
                <li><input class= "input" type="password" placeholder="Confirmar contraseña"></li>
            </ul>
            
        </div>
        <div class="footer-form">
            <a class="redirection-button">Registrarse</a>
        </div>
    </div>
    <div class="espaciador"></div>
</section>
{%endblock%}